# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env

# Database
db.sqlite3

# Media files
media/

# Static files
staticfiles/

# Virtual environment
venv/
venv*/
*.venv
*.vscode

# IDE files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.pyc
*.pyo
*.pyd



# Linux
*~
